body {
    background-color: white;
    color: black;
    font-family: arial;
}

.vis_menu {
    margin-left: 45px;
}

.graph {
    position: relative;
}

input {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.sortButton {
    float: left;
    height: 26px;
    font-size: 15px;
    display: block;
}

.sortButton input {
    display: none;
}

.sortButton label {
    background: white;
    border: 1px solid black;
    color: black;
    padding: 3px 3px;
    width: 90px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.sortButton label:hover {
    background-color: #e6f2ff;

}

.sortButton input[type="radio"]:checked + label {
    background-color: #99ccff;
}

.sortSpan {
    vertical-align: middle;
    line-height: 26px;
    font-size: 17px;
}

#help {
}

#checkboxes {
    font-size: 15px;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    overflow-y: scorll;
    display: block;
}

#checkboxes input{
    display: block
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.dropdown {
    display:none;
    position:absolute;
    background-color: lightsteelblue;
    min-width: 200px;
    min-height: 150px;
    border: 1px solid black;
    padding: 2px;

}

.axis path, .axis line{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    stroke-linejoin: "round;
    stroke-linecap: "round";
}

.line:hover {
    stroke-width: 6px;
}

.rect:hover {
    fill: red;
}

div.tooltip {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    padding: 2px;
    font: 30px sans-serif;
    text-align: center;
    vertical-align: middle;
    background: lightsteelblue;
    border: 1px solid black;
    pointer-events: none;
}


