// stylesheet for the Social Network branch of Digital Ricoeur - Ricoeur and the Others
// Created by Do Yeun Kim

body {
    background-color: white;
    color: black;
    font-family: arial;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.axis path, .axis line{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

